<div class="main-body">
    <div class="content-area">
        <div class="content standard">
            <div class="datacontainer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283 238">
                    <title>header</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <circle cx="135" cy="135" r="119" class="svg-second-color" />
                            <circle cx="130" cy="119" r="119" class="svg-first-color" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="page-title">
                <h3>Scopri<br><small>a scuola dei vignaioli</small></h3>
            </div>
            <div class="scroller-content">
                <div class="frame-content">
                    <div class="box scopri clearfix" (click)="dettaglioFeed(feed)" *ngFor="let feed of listaFeed">
                        <h2 class="titolo">{{feed.titoloFeed}}</h2>
                        <div class="cover scopri" [ngStyle]="{'background-image': 'url('+feed.urlImmagineFeed+')'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>