<div class="main-body auto-scroll" [style.backgroundColor]="registerColor">
  <div class="content-area">
    <div class="content accedi">

      <h3 class="title-access">
        Cambio Password
      </h3>
      <form class="user">
        <div class="form-group">
          <label>vecchia password</label>
          <input type="password" name="vecchiapassword" [(ngModel)]="vecchiapassword">
        </div>
        <div class="form-group">
          <label>nuova password</label>
          <input type="password" name="nuovapassword" [(ngModel)]="nuovapassword">
        </div>
      </form>
      <div class="access-cta">
        <button class="button white text-center full-width access" (click)="cambia()">Cambia</button>
      </div>
    </div>
  </div>
</div>