<ion-content>
    <div class="main-body">
        <div class="content-area" *ngIf="showPage">
            <div class="content standard">
                <div class="datacontainer">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283 238">
                        <title>header</title>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <circle cx="135" cy="135" r="119" class="svg-second-color" />
                                <circle cx="130" cy="119" r="119" class="svg-first-color" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="page-title">
                    <h3>Lista dei vini</h3>
                </div>
                <div class="scroller-content bottom-menu">
                     <ion-content>
                        <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
                            <ion-refresher-content refreshingSpinner="dots" pullingIcon="arrow-dropdown">
                            </ion-refresher-content>
                        </ion-refresher>
                        <div class="frame-content">
                            <div class="box vino clearfix" (click)="dettaglioVino(vino)" *ngFor="let vino of listaVini">
                                <img [src]="vino.urlImmagineVino" class="vino-thumb">
                                <h3 class="titolo">{{vino.nomeVino}} <span>{{vino.uvaggioVino}}</span></h3>
                                <p class="info">{{vino.inBreveVino}}</p>
                            </div>
                        </div>
                    </ion-content>
                </div>
            </div>
        </div>
    </div>
</ion-content>