<div class="main-body access login" [style.backgroundColor]="registerColor">
    <div class="content-area">
        <div class="content login">

            <h3 class="title-access">
                Accedi
            </h3>
            <form class="user">
                <div class="form-group">
                    <input type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input type="password" name="psw" placeholder="password">
                </div>
            </form>
            <div class="access-cta">
                <p style="margin-bottom: 40px;"><a href="#">Dimenticato la password?</a></p>
                <button class="button white text-center full-width" (click)="submit()">Accedi</button>
                <p>oppure</p>
                <button class="button social facebook text-center full-width" (click)="submit()">Accedi con Facebook</button>
                <button class="button social google text-center full-width" (click)="submit()">Accedi con Google</button>
            </div>
        </div>
    </div>
</div>