<div class="main-body">
    <div class="content-area">
        <div class="content dettagli">
            <div class="scroller-content" (scroll)="onScroll($event)">
                <div class="utility-header"  [class.show]="showNav">
                    <div class="float-chiudi"  (click)="router.navigate(['/scopri']);"  >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.33 185.33">
                            <title>chiudi-sottile</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <!--<path d="M92.66,0a92.66,92.66,0,1,0,92.66,92.66A92.77,92.77,0,0,0,92.66,0Zm0,175.33a82.66,82.66,0,1,1,82.66-82.66A82.76,82.76,0,0,1,92.66,175.33Z" />-->
                                    <path d="M129.2,56.13a5,5,0,0,0-7.07,0L92.66,85.59,63.2,56.13a5,5,0,0,0-7.07,7.07L85.59,92.66,56.13,122.13a5,5,0,1,0,7.07,7.07L92.66,99.73l29.46,29.46a5,5,0,1,0,7.07-7.07L99.73,92.66,129.2,63.2A5,5,0,0,0,129.2,56.13Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3 class="float-header">Degustibus Lini 910</h3>
                </div>
                <div class="dettaglio-header" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Vin_santo2.jpg/1280px-Vin_santo2.jpg);">
                    <div class="chiudi"  (click)="router.navigate(['/scopri']);">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.33 185.33">
                            <title>chiudi-sottile</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <!--<path d="M92.66,0a92.66,92.66,0,1,0,92.66,92.66A92.77,92.77,0,0,0,92.66,0Zm0,175.33a82.66,82.66,0,1,1,82.66-82.66A82.76,82.76,0,0,1,92.66,175.33Z" />-->
                                    <path d="M129.2,56.13a5,5,0,0,0-7.07,0L92.66,85.59,63.2,56.13a5,5,0,0,0-7.07,7.07L85.59,92.66,56.13,122.13a5,5,0,1,0,7.07,7.07L92.66,99.73l29.46,29.46a5,5,0,1,0,7.07-7.07L99.73,92.66,129.2,63.2A5,5,0,0,0,129.2,56.13Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="box evento clearfix">
                        <div>
                            <h2 class="titolo">La Storia del Vin Santo</h2>
                        </div>
                    </div>
                </div>
                <div class="frame-content">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam, libero et placerat condimentum, mauris massa elementum ligula, at tincidunt nibh tellus non arcu. Integer aliquam velit arcu, vel placerat ex congue nec. Nullam euismod sit amet sapien non posuere. Suspendisse volutpat venenatis risus faucibus elementum. Vestibulum dignissim purus non commodo imperdiet. In hac habitasse platea dictumst. Proin porttitor nec enim a pharetra. Nullam eu nisi a ex sodales interdum eget nec nulla. Nulla at mauris fermentum, ullamcorper libero eget, pulvinar neque. Quisque viverra velit non risus bibendum consectetur. Praesent commodo pulvinar metus ut ullamcorper.
                    </p>
                    <button class="button text-center btn-second-color full-width" (click)="submit()">Conferma lettura</button>
                </div>
            </div>
        </div>
    </div>
</div>