<div class="main-body">
    <div class="content-area">
        <div class="content standard">
            <div class="datacontainer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283 238">
                    <title>header</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <circle cx="135" cy="135" r="119" class="svg-second-color" />
                            <circle cx="130" cy="119" r="119" class="svg-first-color" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="page-title">
                <!-- <img src="assets/img/logo-white.png" style="height: 80px;">-->
                <p class=""><a href="#">Dettaglio azienda</a>
                </p>
            </div>
            <div class="scroller-content">
                <div class="frame-content">
                    <div class="box evento clearfix" *ngFor="let evento of listaEventi"
                        (click)="dettaglioEvento(evento)">
                        <div class="cover" [ngStyle]="{'background-image': 'url(' + evento.urlFotoEvento + ')'}">
                        </div>
                        <h2 class="titolo">{{evento.titoloEvento}}</h2>
                        <div class="clearfix">
                            <h4 class="data">{{evento.dataEvento | BVDateFormat_gg_mm_aaaa}}</h4>
                            <h2 class="badge">{{evento.prezzoEvento}}</h2>
                        </div>
                        <p class="testo" [innerHTML]="evento.testoEvento"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>